.size {
	display: block;
	width: 40px;
}

.price {
	display: block;
	width: 80px;
}

table.sizeprice {
	margin-top: 20px;
}

div.item {
	overflow: auto;
	margin-bottom: 10px;
}

input.textfield {
	width: 300px;
}

.textarea {
	width: 300px;
	height: 100px;
}

.overview {
	position: fixed;
	margin-left: -200px;
}

label {
	width: 180px;
	vertical-align: top;
	display: inline-block;
}