<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<script type="text/javascript" src="js/check.js"></script>
        <title>RaumZeitLabor Merchandise</title>
        <link href="css/main.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<div id="main">
	    	<img src="images/logo.png" style="right: 300px; float: right;"/>
	    	<h1 style="padding-top: 55px; height: 95px;">Merchandise</h1><br/>
	    	<form method="POST" action="order.php">

		        {% include 'overview.html' %}

		        {% include 'itemlist.html' %}

		        {% include 'order.html' %}
		    </form>
            <br />
            <p style="text-align: center">
                RaumZeitLabor e.V. &dash; <a href="http://raumzeitlabor.de/impressum">Impressum</a><br />
                Alle Artikel sind Inte-approved und unterliegen einer strengen Qualitätskontrolle!</br>
            </p>
	    </div>
        <div style="position: fixed; bottom: 0; right: 0;">
            <img src="images/inteapproved.png" alt="Inte approved!"/>
        </div>
    </body>
</html>
