{# Dieses Template erzeugt die Textfelder für Name, E-Mail, Kommentare sowie den Abschick-Button. #}

<a name="endegelaende"/>

<div class="order">
	<h1>Bestelldaten</h1>
	<label for="name">Dein Name</label>
	<input class="textfield" type="text" id="name" name="name" size="32" maxlength="255"/><br/>
	
	<label for="email">Deine E-Mail</label>
	<input class="textfield" type="email" id="email" name="email" size="32" maxlength="255"/><br/>
	
	<label for="comments">Bemerkungen, Kommentare</label>
	<textarea class="textarea" name="comments" id="comments"></textarea>
</div>

<input type="submit" onclick="return checkForm()" value="Bestellung los!"/>
