<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<script type="text/javascript" src="js/check.js"></script>
        <title>RaumZeitLabor Merchandise</title>
        <link href="css/main.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
    	<div id="main">
    	<div id="main">
	    	<img src="images/logo.png" style="right: 300px; float: right;"/>
	    	<h1 style="padding-top: 55px; height: 95px;">Merchandise</h1><br/>
<pre>
Vielen Dank! Du hast jetzt erfolgreich folgende tolle Dinge bestellt:<br/>

Name: {{ name }}
Mail: {{ email }}

Bestellung:<br/>

{% for item in items %}
{{ item.amount }} x {{ item.name }}
{% endfor %}

Kommentare:<br/>
{{ comments }}</pre>

            <p>Wir danken dir, dass du das RaumZeitLabor auf diesem Wege
            unterstützt und wünschen dir vorab schon einmal viel Spaß mit den
            Sachen!</p>

	    </div>
    </body>
</html>
